body {
  margin: 0;
}

.App {
  padding: 0 15%;
}

@media (max-width: 416px) {
  .App {
    padding: 0 10%;
  }

  .raffle-container {
      margin: 0;
      width: 100%;
    }
} 

@media (min-width: 415px) {
 .raffle-container {
    margin: 0 auto;
    width: 60%;
  } 
}

.ui.buttons {
  padding: 0 calc(50% - 121px);
}

.banner {
  width: 100%;
}

.user-avatar {
  width: 5em;
  padding: 1em 0;
}

video {
  width: 100%
}
