body {
  margin: 0;
}

.App {
  padding: 0 15%;
}

@media (max-width: 416px) {
  .App {
    padding: 0 10%;
  }

  .raffle-container {
      margin: 0;
      width: 100%;
    }
} 

@media (min-width: 415px) {
 .raffle-container {
    margin: 0 auto;
    width: 60%;
  } 
}

@media (min-width: 826px) {
.ui.list {
    font-size: 108%;
} 
}

.ui.buttons {
  padding: 0 calc(50% - 121px);
}

.banner {
  width: 100%;
}

.user-avatar {
  width: 16%;
}

@media (max-width: 768px) {
  .user-avatar {
    padding: 10% 0;
  }
}
.logo {
  width: 14em;
}

.logo-container {
  text-align: center;
}

video {
  width: 100%
}

.ui.list > .item {
  padding: 2% 0;
}

.ui.list > .item > .content {
  padding: 2% 0;
}

.ui.fluid.card {
  margin-bottom: 20px
}
